---
const { title, description } = Astro.props;
---

<section class="text-center font-[Poppins] flex flex-col justify-center items-center gap-[80px]">
  <h1 class="text-[34px] font-bold">{title}</h1>
  <div class="text-center w-[80%]">
    <p>{description}</p>
  </div>
</section>