---
import BaseLayout from "../layouts/BaseLayout.astro";
import Fondo from "../components/Fondo.astro";
import UnforgettableLuxury from "../components/about/UnforgettableLuxury.astro"

import background from "../assets/backgrounds/banner-about-us3.webp"

const title = "About us"
const description = "Peru Luxury Journeys: Over 48 years of excellence as a premier DMC. Debt-free, locally owned, and specializing in bespoke private adventures across Peru since 1976."
---

<BaseLayout title={title} description={description} >
    <Fondo  fondo={background} />
	<main>
        <UnforgettableLuxury />
    </main>

</BaseLayout>