---
import BaseLayout from "../layouts/BaseLayout.astro";
import Fondo from "../components/Fondo.astro";
import UnforgettableLuxury from "../components/about/UnforgettableLuxury.astro"

import background from "../assets/backgrounds/banner-about-us3.webp"

const title = "About us"
---

<BaseLayout title={title}>
    <Fondo  fondo={`url(${background.src})`} />
	<main>
        <UnforgettableLuxury />
    </main>

</BaseLayout>