---
import BaseLayout from "../layouts/BaseLayout.astro"
import DestinationsPeru from "../components/destinations/DestinationsPeru.astro"
import TopDestination from "../components/destinations/TopDestination.astro"
import Fondo from "../components/Fondo.astro"
import background from "../assets/backgrounds/banner-destinations.webp"

const title = "Destinations"
---

<BaseLayout title={title}>

    <Fondo fondo={`url(${background.src})`} />
    <main>
        <DestinationsPeru />
        <TopDestination />
    </main>
</BaseLayout>

