---
import BaseLayout from "../layouts/BaseLayout.astro"
import DestinationsPeru from "../components/destinations/DestinationsPeru.astro"

import Fondo from "../components/Fondo.astro"

const title = "Destinations"
---

<BaseLayout title={title}>

    <Fondo fondo={`url('https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/banner-destinations.jpg?fit=1920%2C700&ssl=1')`} />
    <main>

        <DestinationsPeru />

    </main>
</BaseLayout>

