---
import BaseLayout from "../layouts/BaseLayout.astro"
import DestinationsPeru from "../components/destinations/DestinationsPeru.astro"
import TopDestination from "../components/destinations/TopDestination.astro"
import Fondo from "../components/Fondo.astro"
import background from "../assets/backgrounds/banner-destinations.webp"

const title = "Destinations"
const description = "Explore Peru's most iconic destinations with luxury tailor-made journeys. From the majestic Machu Picchu and the Amazon rainforest to the exclusive luxury sleeper trains in the Andes."
---

<BaseLayout title={title} description={description}>

    <Fondo fondo={background} />
    <main>
        <DestinationsPeru />
        <TopDestination />
    </main>
</BaseLayout>

