---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutLuxury from "../components/Home/AboutLuxury.astro";
import PremiumPrograms from "../components/Home/PremiumPrograms.astro"
	
 const title = "home"

---

<BaseLayout title={title}>
	<main>
		<AboutLuxury />
		<PremiumPrograms />
	</main>
<BaseLayout />