---
import BaseLayout from "../layouts/BaseLayout.astro";
import Fondo from "../components/Fondo.astro";
import ExclusiveExperiences from "../components/programs/ExclusiveExperiences.astro";


import background from "../assets/backgrounds/banner-mapi.webp" 

const title = "Programs"
const description = "An epic two-week odyssey designed for those seeking the pinnacle of comfort and mysticism. This exclusive experience features stays at prestigious Belmond Hotels and journeys aboard South America's most iconic luxury trains, seamlessly blending colonial elegance with the timeless majesty of Machu Picchu."
---

<BaseLayout title={title}  description={description}>
	<Fondo  fondo={background} />
	<main>
		<ExclusiveExperiences />
		
	</main>


</BaseLayout>