---

---

<section
    class="pt-[40px] font-[Poppins] flex flex-col items-center justify-center text-center text-[#212121]"
>
    <div class="2xl:w-[60%] max-2xl:w-[90%]">
        <h2 class="text-[36px] pb-[20px]">
            Live the most exclusive Peru with Relais & Châteaux
        </h2>
        <p class="font-light">
            We invite you to explore our select collection of Relais & Châteaux
            hotels and restaurants in Peru and begin designing a trip that will
            exceed all your expectations. Get ready to experience Peru in a
            unique, sophisticated and unforgettable way.
        </p>
    </div>

    <div class="flex w-[90%] max-md:flex-col pt-[80px] justify-center items-center">
        <div class="flex">
            <img class="max-lg:w-[230px] max-md:w-[260px] max-sm:w-[170px] max-xl:w-[290px] xl:w-[320px]  z-1 relative left-[30px] max-md:left-[10px]  max-sm:left-[5px]" src="https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/RC1.png?ssl=1" alt=""/>
            <img class="max-lg:w-[230px] max-md:w-[260px] max-sm:w-[170px] max-xl:w-[290px] xl:w-[320px]  z-2 relative right-[60px] top-[70px] max-md:top-[20px] max-md:right-[30px] max-sm:right-[20px]" src="http://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/rc5.png?w=407&ssl=1"  alt=""/>
        </div>
        <div class="flex relative ">
            <img class="max-lg:w-[230px] max-md:w-[260px] max-sm:w-[170px] max-xl:w-[290px] xl:w-[320px]  z-3 relative  right-[60px] max-md:left-[30px] max-md:top-[-20px] max-sm:left-[20px] max-sm:top-[-18px]" src="https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/rc4.png?w=407&ssl=1" alt=""/>
            <img class="max-lg:w-[230px] max-md:w-[260px] max-sm:w-[170px] max-xl:w-[290px] xl:w-[320px]  z-4 relative right-[120px] top-[70px] max-md:right-[0px] max-md:top-[0px] max-sm:right-[8px] max-sm:top-[-10px] max-md:z-1" src="https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/rc2.png?w=407&ssl=1" alt=""/>
        </div>
    </div>
</section>
