---
---

<section class="font-[Poppins] w-full flex flex-col justify-center items-center py-[40px] lg:py-[80px]">
    <div class="flex flex-col lg:flex-row items-center justify-center gap-[40px] xl:gap-[8em] w-[90%] max-w-[1640px]">
        
        <div class="flex flex-col 2xl:w-[670px] px-[20px] items-center lg:items-start text-center lg:text-left">
            <h1 class="text-[30px] md:text-[37.2px] font-medium pb-[20px] leading-tight">
                Luxury Trains in Peru <br class="hidden md:block"> Epoch-making Journeys
            </h1>
            <p class="text-gray-700 font-light pb-[30px]">
                In Peru, the journey is as fascinating as the destination. The luxury trains that run through our lands are much more than means of transportation: they are immersive experiences that combine dreamlike landscapes, first-class service and an atmosphere worthy of a novel.
            </p>
            <a href="#" class="w-full max-w-64 text-center py-[15px] px-[30px] bg-[#DABB42] hover:bg-[#F7D30E] text-white rounded-full font-medium transition-colors">
                Discover The Experience
            </a>
        </div>

        <div class="flex w-full justify-center">
            <div class="flex flex-col md:flex-row gap-[15px] w-full max-w-[850px] h-auto md:h-[400px] 2xl:h-[600px]">
                
                <div class="bg-[url('https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/peru-train.jpg?fit=413%2C589&ssl=1')] bg-cover bg-center bg-no-repeat w-full md:w-1/2 h-[400px] md:h-full rounded-lg"></div>
                
                <div class="flex flex-col gap-[15px] w-full md:w-1/2">
                    <div class="bg-[url('https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/luxury-trains.jpg?fit=1680%2C1205&ssl=1')] bg-cover bg-center bg-no-repeat w-full h-[250px] md:h-1/2 rounded-lg"></div> 
                    <div class="bg-[url('https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/peru-train3.jpg?fit=413%2C282&ssl=1')] bg-cover bg-center bg-no-repeat w-full h-[250px] md:h-1/2 rounded-lg"></div>            
                </div>
            </div>
        </div>
    </div>
</section>