---

---

<section class="font-[Poppins] w-full max-lg:hidden flex flex-col jutify-center items-center ">

    <div class="max-md:text-center flex max-lg:flex-col items-center pt-[80px] justify-center gap-[8em] w-[90%]">
        <div class="flex 2xl:w-[620px] pl-[20px] pr-[20px] flex-col  max-md:items-center">
            <h1 class="text-[37.2px] font-medium pb-[20px]">LuxuryTrains in Peru <br> Epoch - making Journeys</h1>
            <p class=" tex-gray-700 font-light pb-[30px]">In Peru, the journey is as fascinating as the destination. The luxury trains that run through our lands are much more than means of transportation: they are immersive experiences that combine dreamlike landscapes, first-class service and an atmosphere worthy of a novel.</p>
        
            <a href="#" class="max-w-64 text-center p-[15px] pl-[20px] pr-[20px] bg-[#DABB42] hover:bg-[#F7D30E] text-white rounded-full font-medium">Discover The Experience</a>
        </div>
        <div class="flex flex-col jutify-center items-center bg-green-400 w-full">
         <div class="max-md:flex-col max-md:h-full flex w-[52%] bg-red-500 2xl:w-[850px] max-lg:w-[90%] max-md:w-[100%] max-lg:h-[400px] lg:h-[400px] 2xl:h-[600px] gap-[15px] bg-green-400">
            <div class="bg-[url('https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/peru-train.jpg?fit=413%2C589&ssl=1')] bg-cover bg-no-repeat  w-[420px] max-md:w-full  max-md:h-[100%]"></div>
            <div class="flex flex-col gap-[15px]">
                <div class="bg-[url('https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/luxury-trains.jpg?fit=1680%2C1205&ssl=1')] bg-cover bg-no-repeat 2xl:w-[420px] max-lg:w-[380px] max-xl:w-[300px] xl:w-[360px] h-[50%]"></div> 
                <div class="bg-[url('https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/peru-train3.jpg?fit=413%2C282&ssl=1')] bg-cover bg-no-repeat w-[420px] xl:w-[360px] max-lg:w-full max-xl:w-[300px] h-[50%]"></div>            
            </div>
        </div>
        </div>
    </div>
</section>
