---
import { Image } from "astro:assets";

import trainGirl from "../../assets/image/Home-img/peru-train.webp"
import bar from "../../assets/image/Home-img/luxury-trains.webp"
import train from "../../assets/image/Home-img/peru-train3.webp"

---

<section class="font-[Poppins] w-full flex flex-col justify-center items-center py-[40px] lg:py-[80px]">
    <div class="flex flex-col lg:flex-row items-center justify-center gap-[40px] xl:gap-[8em] w-[90%] max-w-[1640px]">
        
        <div class="flex flex-col 2xl:w-[670px] px-[20px] items-center lg:items-start text-center lg:text-left">
            <h2 data-aos="fade-right" class="text-[30px] md:text-[37.2px] font-medium pb-[20px] leading-tight">
                Luxury Trains in Peru <br class="hidden md:block"> Epoch-making Journeys
            </h2>
            <p class="text-gray-700 font-light pb-[30px]">
                In Peru, the journey is as fascinating as the destination. The luxury trains that run through our lands are much more than means of transportation: they are immersive experiences that combine dreamlike landscapes, first-class service and an atmosphere worthy of a novel.
            </p>
            <a href="/luxury-trains" class="btn">
                <span class="btn-text-one">Discover The Experience</span>
                <span class="btn-text-two">Read Me!</span>
            </a>
        </div>

        <div class="flex w-full justify-center">
            <div class="flex flex-col md:flex-row gap-[15px] w-full max-w-[850px] h-auto md:h-[400px] 2xl:h-[600px]">
                
                <div data-aos="flip-up" class="w-full md:w-1/2 h-[400px] md:h-full rounded-lg overflow-hidden">
                    <Image 
                        src={trainGirl} 
                        alt="Luxury train Peru"
                        class="w-full h-full object-cover"
                    />
                </div>
                <div  data-aos="flip-up" class="flex flex-col gap-[15px] w-full md:w-1/2">
                    <div class="w-full h-[250px] md:h-1/2 rounded-lg overflow-hidden">
                        <Image 
                            src={bar} 
                            alt="Luxury trains interior"
                            class="w-full h-full object-cover"
                        />
                    </div>
                    <div data-aos="flip-up" class="w-full h-[250px] md:h-1/2 rounded-lg overflow-hidden">
                        <Image 
                            src={train}
                            alt="Peru train journey"
                            class="w-full h-full object-cover"
                        />
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>