---
---

<section class="font-[Poppins] flex flex-col justify-center items-center bg-[#F7F7F7] w-full">

    <div class="pt-[70px] w-full text-center ">
        <span class="text-[36px]">Premium Programs</span>
        <h2 class="max-lg:text-[37px] lg:text-[18px] text-gray-900 font-light">
            Need Some inspiration? <br>
            Take a look at some of our travelers’ recommended programs
        </h2>
    </div>



    <div class="pt-[4em] w-full flex justify-center items-center ">
        <div class="flex  justify-center items-center w-full">
            <div class="grid grid-cols-3 max-md:grid-cols-1   gap-[4.8em] w-[90%]">
                <div class="elemento max-md:w-[100%]  max-lg:w-[280px] w-[370px]">
                    <div class="bg-[url('https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/incas-legacy.jpg?fit=800%2C583&ssl=1')] bg-cover max-md:bg-center bg-no-repeat image h-[350px] max-lg:h-[165px]"></div>
                    
                    <div class="flex flex-col w-full pt-[20px]">
                        <span class="max-lg:font-semibold text-[18px] ">Legacy of The Incas</span>
                        
                        <p class="pt-[10px] text-gray-700 font-light text-[14.4px] ">A two program including Belmond hotels an trains</p>

                        <a href="#" class="pt-[20px] max-w-24 text-[#DABB42] hover:text-[#F7D30E] border-b-[1px] border-[#DABB42]"><i>Read More</i></a>
                    </div>
                </div>
                 <div class="elemento max-md:w-[100%]  max-lg:w-[280px] w-[370px]">
                    <div class="bg-[url('https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/incas-legacy.jpg?fit=800%2C583&ssl=1')] bg-cover max-md:bg-center bg-no-repeat image h-[350px] max-lg:h-[165px]"></div>
                    
                    <div class="flex flex-col w-full pt-[20px]">
                        <span class="max-lg:font-semibold text-[18px] ">Legacy of The Incas</span>
                        
                        <p class="pt-[10px] text-gray-700 font-light text-[14.4px] ">A two program including Belmond hotels an trains</p>

                        <a href="#" class="pt-[20px] max-w-24 text-[#DABB42] hover:text-[#F7D30E] border-b-[1px] border-[#DABB42]"><i>Read More</i></a>
                    </div>
                </div>
                 <div class="elemento max-md:w-[100%]  max-lg:w-[280px] w-[370px]">
                    <div class="bg-[url('https://i0.wp.com/peruluxuryjourneys.com/wp-content/uploads/2025/05/incas-legacy.jpg?fit=800%2C583&ssl=1')] bg-cover max-md:bg-center bg-no-repeat image h-[350px] max-lg:h-[165px]"></div>
                    
                    <div class="flex flex-col w-full pt-[20px]">
                        <span class="max-lg:font-semibold text-[18px] ">Legacy of The Incas</span>
                        
                        <p class="pt-[10px] text-gray-700 font-light text-[14.4px] ">A two program including Belmond hotels an trains</p>

                        <a href="#" class="pt-[20px] max-w-24 text-[#DABB42] hover:text-[#F7D30E] border-b-[1px] border-[#DABB42]"><i>Read More</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>