---
const { fondo } = Astro.props;
---
<section class="fondo-section fade-in">
    <div class="fondo">
    </div>
</section>

<style define:vars={{ fondo }}>
    .fondo {
        width: 100%;
        height: 80vh;
        background-image: var(--fondo);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    @media (width <= 830px) {
        .fondo{
            height: 30em;
            background-position: center;
        }
    }
    .fondo-section {
        overflow: hidden;
    }
    .fondo-section:hover .fondo {
        transform: scale(1);
    }
</style>