---
import { Image } from 'astro:assets';
const { fondo } = Astro.props;
---

<section class="fondo-section">
        <Image 
            src={fondo} 
            alt="Peru Luxury Destination" 
            class="fondo-img"
            loading="eager" 
            inferSize={true}
        />
        <div class="overlay-content">
    </div>
</section>

<style>
    .fondo-section {
        position: relative;
        width: 100%;
        height: 43em;
        overflow: hidden;
    }

    .fondo-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        /* Animación de Zoom */
        animation: efectZoom 10s ease-in-out forwards;
    }

    @keyframes efectZoom {
        from { transform: scale(1); }
        to { transform: scale(1.1); } /* 1.1 es suficiente para un efecto elegante */
    }

    .overlay-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
</style>