---

---
<footer class="footer">
        <div class="footer-feature">
            <div class="container-enlaces">
                <div class="container-lista">
                    <h4>CONTACT</h4>
                    <ul>
                        <li> Av. San Luis 2642 San Borja, Lima - Peru</li>
                        <li> (51) 345-7558</li>
                        <li> Sales@PeruLuxuryJourneys.com</li>
                    </ul>
                </div>
                <div class="container-lista">
                    <h4>PAGES</h4>
                    <ul>
                        <li> Destinations</li>
                        <li> Programs</li>
                        <li> About us</li>
                    </ul>
                </div>

                <div class="container-lista">
                    <h4>DESTINATIONS</h4>
                    <ul>
                        <li>Lima</li>
                        <li>Cusco</li>
                        <li>Sacred Valley</li>
                        <li>Machu Picchu</li>
                        <li>Puno</li>
                        <li>Arequipa</li>
                        <li>Amazon River Cruises</li>
                        <li>Nazca - Paracas</li>
                        <li>Luxury Trains</li>
                    </ul>
                </div>
            </div>

            <div class="formulario-subscribe">
                <h4>JOIN NEWSLETTER</h4>
                <form action="">

                    <div class="inputPersonal">
                        <input type="text" placeholder="FirstName" >
                        <input type="text" placeholder="Last Name" >
                    </div>
                        <input type="email" placeholder="Email" >

                    <button>SUBSCRIBE</button>
                </form>


            </div>

        </div>
</footer>

<style>
    .footer{
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #313131;
    }
    .footer-feature{
        display: flex;
        background-color: rebeccapurple;
        justify-content: center;
        color: white;
    }

    .container-enlaces{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 100px;
        color: white;
    }
    .container-lista h4{
        font-weight: 600;
    }
    .container-lista ul{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-weight: 300;
        font-size: 15px;

    }

    .formulario-subscribe form{
        margin-top: 25px;
    }

    .formulario-subscribe form{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .formulario-subscribe input{
        background-color: white;
        color: gray;
        border: 0.2px solid gray;
        padding: 8px;
        outline: none;
    }
    .inputPersonal{
        display: flex;
        gap:15px;
    }
   
    .formulario-subscribe button{
        background-color: #3F5C3A;
        color: white;
        padding: 12px;
        outline: none;
        cursor: pointer;
    }
   

</style>