---
---

<div class="bg-white w-full flex justify-center border-b-[1px] border-gray-300 p-[10px] items-center gap-[60px] ">
    <a href="https://api.whatsapp.com/send?phone=51982836947" class="flex gap-[12px] items-center hover:text-[#97873E]"><i class="bi bi-whatsapp"></i> +51 982 836 947 </a>
    <a href="mailto:sales@PeruLuxuryJourneys.com" class="flex gap-[12px] items-center hover:text-[#97873E]"><i class="bi bi-envelope"></i> sales@PeruLuxuryJourneys.com</a>
</div>