---
import HeaderTop from "./HeaderTop.astro";

import { Image } from "astro:assets";
import logo from "../assets/logo/PLJ-LOGO-1.webp";


---

<header class="w-full flex flex-col justify-center items-center">
    <HeaderTop />

    <nav class="w-[70%] max-xl:w-[90%] p-[5px]">
        <div class="flex w-full justify-between items-center">
            <a href=""><Image src={logo} loading="eager" class="max-sm:w-[150px]" alt="logo-peru-luxy" /></a>

            <div class="text-[25px] lg:hidden ">
                <div id="btnMenu" class="rounded-[2px] p-[14px] w-[20px] h-[20px] flex flex-col items-center justify-center bg-[#E6E6E6]">
                    <i id="openMenu" class="bi bi-list"></i>
                    <i id="closeMenu" class="hidden bi bi-x-lg"></i>
                </div>
            </div>
            <ul class="w-[40%] max-lg:hidden  flex items-center jutify-center justify-around">
                <li id="iconSubmenu"  class="linksEffect flex items-center gap-[5px]">
                    <i id="icono" class="p-2 rounded-full bi bi-caret-right-fill"></i> <a href="/destinations">DESTINATIONS</a> 
                </li>
                <li class="linksEffect"><a href="/programs">PROGRAMS</a></li>
                <li class="linksEffect"><a href="/about-us">ABOUT US</a></li>
            </ul>
        </div>
    </nav>
     <div id="submenu" class=" w-full hidden relative ">
            <div class="absolute lg:right-[13em] max-xl:right-[18em] xl:right-[25em] max-2xl:right-[24em] 2xl:right-[36em]  bg-[#393939] w-[225px]">
                <ul class="text-[14px] text-white w-full shadow-lg shadow-black"> 
                    <li class="flex"><a class="items-Submenu p-[15px] w-full" href="/lima">LIMA</a></li>
                    <li class="flex"><a class="items-Submenu p-[15px] w-full" href="/cusco">CUSCO</a></li>
                    <li class="flex"><a class="items-Submenu p-[15px] w-full" href="/sacred-valley">SACRED VALLEY</a></li>
                    <li class="flex"><a class="items-Submenu p-[15px] w-full" href="/machu-picchu">MACHU PICCHU</a></li>
                    <li class="flex"><a class="items-Submenu p-[15px] w-full" href="/puno">PUNO</a></li>
                    <li class="flex"><a class="items-Submenu p-[15px] w-full" href="/arequipa">AREQUIPA</a></li>
                    <li class="flex"><a class="items-Submenu p-[15px] w-full" href="/nazca-paracas">NAZCA - PARACAS</a></li>
                    <li class="flex"><a class="items-Submenu p-[15px] w-full" href="/amazon-river-cruises">AMAZON RIVER CRUISES</a></li>
                    <li class="flex"><a class="items-Submenu p-[15px] w-full" href="/luxury-trains">LUXURY TRAINS</a></li>
                </ul>
            </div>
        </div>

    <div id="menuResponsive" class="w-full hidden">
        <ul class="flex flex-col bg-[#393939] text-white text-start w-full items-start p-[10px] jutify-center justify-around">
                <li class="p-[8px] flex items-center gap-[10px]">
                    <a href="/destinations">DESTINATIOS<i class="text-[12px] bi bi-caret-down-fill"></i></a>
                </li>
                <li class="p-[8px]"><a href="/programs">PROGRAMS</a></li>
                <li class="p-[8px]"><a href="/about-us">ABOUT US</a></li>
            </ul>
    </div>
</header>


<script type="module">

    const openMenu = document.getElementById("openMenu");
    const closeMenu = document.getElementById("closeMenu");
    const menuResponsive = document.getElementById("menuResponsive");
    document.getElementById("openMenu").addEventListener("click", function () {
        closeMenu.style.display = "block";
        openMenu.style.display = "none";

        menuResponsive.style.display = "block";
    }) 

    document.getElementById("closeMenu").addEventListener("click", function () {
        closeMenu.style.display = "none";
        openMenu.style.display = "block";
        menuResponsive.style.display = "none";
    })


    


    document.getElementById("iconSubmenu").addEventListener("click", function() {
        var submenu = document.getElementById("submenu");
        let iconFlecha = document.getElementById("icono");

        if (submenu.style.display === "none") {
            iconFlecha.classList.add("icon-flecha");
            iconFlecha.classList.remove("icon-flecha-oculto");
            submenu.style.display = "block";
        } else {
            iconFlecha.classList.remove("icon-flecha");

            iconFlecha.classList.add("icon-flecha-oculto");

            submenu.style.display = "none"; 
        }
    })



</script>

<style>
    #menuResponsive{    
        animation: nav-animation 0.1s ease-in-out ;
    }
    #iconSubmenu{
        cursor: pointer;
    }
    .icon-flecha{
       transform: rotate(90deg);
       transition: all 0.4s;
    }
    .icon-flecha-oculto{
       transform: rotate(0deg);
       transition: all 0.4s;
    }

    .items-Submenu:hover{
        background-color: #515050;
        transition: all 0.5s ;
    }

    @keyframes nav-animation {
        0% {
            transform: scaleY(0);
        }
        100% {
            transform: scale(1);
        }
    }
</style>


