---

---

<section class="our-parnes font-[Poppins] text-center">
    <div class="container-title">
        <h2 class="text-[44px] text-[#222] font-normal">Our Parners</h2>
        <div class="line"></div>
    </div>

    <div>

        

    </div>

</section>

<style>
    .container-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .our-parnes {
        margin-top: 40px;
    }
    .line{
        width: 220px;
        border-top: 3px solid rgb(196, 160, 95);
    }
</style>